<div class="slider" *ngIf="films$ | async as films">
  <ng-container *ngFor="let film of films; let filmIndex = index">
    <div class="slide" *ngIf="filmIndex === slideIndex" @slideFade>
      <div class="slide-bg">
        <img
          [src]="baseUrl + 'w1280' + film.backdrop_path"
          [alt]="film.title"
        />
      </div>
      <div class="slide-pane">
        <h2 class="title">{{ film.title }}</h2>
        <div class="meta">
          <div class="rating">
            <i class="pi pi-star-fill mr-2"></i>
            <span>{{ film.vote_average }}</span>
            <span>/10</span>
          </div>
        </div>
        <div class="votes mt-3 mb-1">
          <i class="pi pi-users mr-2"></i>
          <span>{{ film.vote_count }}</span>
        </div>
        <div class="release-date">
          <i class="pi pi-calendar mr-2"></i
          ><span>{{ film.release_date | date : "yyyy" }}</span>
        </div>
        <div class="description mt-4">{{ film.overview }}</div>
      </div>
    </div>
  </ng-container>
</div>
