<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="title">Slider Title</h2>
      <div class="meta">
        <div class="rating"></div>
        <i>star-icon</i>
        <span>8.9</span>
        <span>/10</span>
      </div>
      <div class="votes mt-3 mb-1">
        <i>vates-icon</i>
        <span>4456</span>
      </div>
      <div class="release-date">21.02.2023</div>
      <div class="description mt-4">Description</div>
    </div>
  </div>
</div>
