<ng-container *ngIf="popularFilms$ | async as popularFilms">
  <app-slider [slides]="popularFilms" />
</ng-container>

<ng-container *ngIf="upcomingFilms$ | async as upcomingFilms">
  <app-banner [title]="'Upcoming Films'" [shows]="upcomingFilms" />
</ng-container>
<ng-container *ngIf="topRatedFilms$ | async as topRatedFilms">
  <app-banner [title]="'Top Rated Films'" [shows]="topRatedFilms" />
</ng-container>
<ng-container *ngIf="popularTVShows$ | async as popularTVShows">
  <app-banner [title]="'Popular TV Shows'" [shows]="popularTVShows" />
</ng-container>
